<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href='/stylesheets/bootstrap.min.css'>
    <link rel='stylesheet' href='/stylesheets/style.css'>
  </head>
  <body>
    <div class="container text-center" style="width: 400px;">
      <h1>Delete User</h1>
    </div>  
    <div class="container my-5" style="width: 300px;">
      <h5>Enter User Id To Delete</h5>
      <form id="deleteUserForm">
        <div class="form-group">
          <label for="InputUserName">User Id</label>
          <input type="text" class="form-control" name="user_id">
        </div>
        <button type="submit" class="btn btn-primary my-2 mx-auto text-center" id="submitId">Submit</button>
      </form>
    </div> 
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="/javascripts/bootstrap.min.js"></script>
    <script>
      const deleteForm = document.getElementById('deleteUserForm'); 
      deleteForm.addEventListener('submit', function(e) {
        e.preventDefault();
        const formData = new FormData(this);
        const searchParams = new URLSearchParams();
        for (const pair of formData) {
          searchParams.append(pair[0], pair[1])
        }
        fetch(`api/user-game/delete/:id`, {
          method: 'GET',
          body: searchParams
        })
      })
    </script>
  </body>
</html> 
 

