<%- include('include/_header') %>  
    <div class="container text-center" style="width: 400px;">
      <h1>Find User</h1>
    </div>  
    <div class="container my-3" style="width: 300px;">
      <form id="findUserForm">
        <div class="form-group">
          <label for="InputUserId">Find by Id</label>
          <input type="text" class="form-control" name="user_id">
        </div>
        <button type="submit" class="btn btn-primary text-center" id="submitForm">Submit</button> 
      </form>
      <div class="container p-0 mt-2">
        <p class="text-center m-0">Or</p>
        <br>
        <button class="btn btn-primary text-center" id="showAll">Show all</button>
      </div>
    </div>
<%- include('include/_footer') %>  
      <!-- const findForm = document.getElementById('findUserForm');
      // const findAll = document.getElementById('showAll');
      
      findForm.addEventListener('submit', function(e) {
        e.preventDefault();
        const formData = new FormData(this);
        const searchParams = new URLSearchParams();
        for (const pair of formData) {
          searchParams.append(pair[0], pair[1]);
          console.log(searchParams);
        };
        fetch(`/api/user-game/find/:id`, {
          method: 'GET',
        })
      })
      
      document.getElementById('showAll').onclick = () => {
        // location.href = "http://localhost:3000/api/usergames/";
        fetch('/api/usergames/', {
          method:'GET'
        }).then()
      } -->