<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Welcome</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href='/stylesheets/bootstrap.min.css'>
    <link rel='stylesheet' href='/stylesheets/style.css'>
  </head>
  <body>
  <div class="container-fluid text-center">
  <h1>Dashboard</h1>
  <h6 class="my-3">Database Menu</h6>
  <a href='/user/create'>
    <button type="submit" class="btn btn-primary my-2">Create User</button>
  </a>
  <br>
  <a href='/user/find'>
    <button type="submit" class="btn btn-primary my-2">Find User</button>
  </a>
  <br>
  <a href='/user/update'>
    <button type="submit" class="btn btn-primary my-2">Update User</button>
  </a>
  <br>
  <a href='/user/delete'>
    <button type="submit" class="btn btn-primary my-2">Delete User</button>
  </a>
  </div> 
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="/javascripts/bootstrap.min.js"></script>
  </body>
</html>