<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Welcome</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href='/stylesheets/bootstrap.min.css'>
    <link rel='stylesheet' href='/stylesheets/style.css'>
  </head>
  <body>
    <div class="container-fluid main">
      <div class="row my-2">
        <div class="col-2 offset-1 pt-5 sidebar">
          <a id="find" href='/users'>Show All Users</a>
          <a id="find" href='#'>Find A User</a>
          <form action='/users' method="GET" id="findUserForm">
            <div class="form-group">
              <input type="text" class="form-control" name="user_id" placeholder="Enter user Id">
            </div>
            <button type="submit" class="btn btn-success text-center" id="findbutton">Find</button> 
          </form>
          <a id="create" href='/create'>Create User</a>
        </div>
        <div class="col-8 p-5 right-panel">