<h5>User Game History</h5>
<form action="/" method="POST" id="userhistory">User History
    <table class="table">
      <thead class="thead-dark">
        <tr>
          <th class="text-center">ID</th>
          <th class="text-center">Username</th>
          <th class="text-center">Score</th>
          <th class="text-center">Created</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class="text-center">1</td>
          <td>username</td>
          <td>exampleName</td>
          <td>example@gmail.com</td>
        </tr>
      </tbody>
    </table>
  </form>